body{
	background: #111;
	padding:  0px;
	margin:  0px;
}
#wrapper{
	position:  absolute;
	left:  0px;
	top:  0px;
	width:  100%;
	overflow:  hidden;
}
#inner{
	position: absolute;
	left:  50%;
}
#wrapper img{
	display:  none;
	position:  absolute;
	left:  50%;
}


/*
* Tour Definitions
* 
*
*/

.tooltip{
	position:absolute;
	overflow:  visible;
	width:250px;
	left:0;
	top:0;
	color:white;
	z-index:999;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGA4DQAA0ADMRZKzDAAAAABJRU5ErkJggg==') repeat;
	*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000) /* won't validate, CSS hack, a method for alpha color backgrounds, http://tinyurl.com/ly6rj2 */;
}
.tooltip.white{
	background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4////aQAJxwPJ0Zvh2QAAAABJRU5ErkJggg==') repeat;
	*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff) /* won't validate, CSS hack, a method for alpha color backgrounds, http://tinyurl.com/ly6rj2 */;
	color:  #000;
}


.tooltip p{
	padding:5px 10px;
	font-size:14px;
	text-shadow:none;
	font-family:  'Georgia',serif;
	margin:  0px;
	text-align:  center;
}
.tooltip_arrow{
	position:absolute;
	background-color:transparent;
	background-repeat:no-repeat;
	display:  block;
	z-index:  1200;
}
.tooltip_arrow_T,
.tooltip_arrow_B,
.tooltip_arrow_TL,
.tooltip_arrow_TR,
.tooltip_arrow_BL,
.tooltip_arrow_BR{
	background-image:url(../images/topbottom.png);
	width:13px;
	height:7px;
	display:  block;
}

.white .tooltip_arrow_T,
.white .tooltip_arrow_B,
.white .tooltip_arrow_TL,
.white .tooltip_arrow_TR,
.white .tooltip_arrow_BL,
.white tooltip_arrow_BR{
	background-image:url(../images/topbottom_white.png);
	}
.tooltip_arrow_L,
.tooltip_arrow_R,
.tooltip_arrow_LT,
.tooltip_arrow_LB,
.tooltip_arrow_RT,
.tooltip_arrow_RB{
	background-image:url(../images/leftright.png);
	width:7px;
	height:13px;
	display:  block;
}

.white .tooltip_arrow_L,
.white .tooltip_arrow_R,
.white .tooltip_arrow_LT,
.white .tooltip_arrow_LB,
.white .tooltip_arrow_RT,
.white .tooltip_arrow_RB{
	background-image:url(../images/leftright_white.png);
}
.tooltip_arrow_T{
	background-position:0px -7px;
	top:-7px;
	left:50%;
	margin-left:-3.5px;
}
.tooltip_arrow_TL{
	background-position:0px -7px;
	top:-7px;
	left:5px;
}
.tooltip_arrow_TR{
	background-position:0px -7px;
	top:-7px;
	right:5px;
}
.tooltip_arrow_B{
	background-position:0px 0px;
	bottom:-7px;
	left:50%;
	margin-left:-3.5px;
}
.tooltip_arrow_BL{
	background-position:0px 0px;
	bottom:-7px;
	left:5px;
}
.tooltip_arrow_BR{
	background-position:0px 0px;
	bottom:-7px;
	right:5px;
}
.tooltip_arrow_L{
	background-position:-7px 0px;
	top:50%;
	margin-top:-6.5px;
	left:-7px;
}
.tooltip_arrow_LT{
	background-position:-7px 0px;
	top:5px;
	left:-7px;
}
.tooltip_arrow_LB{
	background-position:-7px 0px;
	bottom:5px;
	left:-7px;
}
.tooltip_arrow_R{
	background-position:0px 0px;
	top:50%;
	margin-top:-6.5px;
	right:-7px;
}
.tooltip_arrow_RT{
	background-position:0px 0px;
	top:5px;
	right:-7px;
}
.tooltip_arrow_RB{
	background-position:0px 0px;
	bottom:5px;
	right:-7px;
}
.overlay{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background:#000;
	opacity:0.9;
	z-index:100;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
.overlay.white{
	background:#fff;
}
#introtext{
	color:  #fff;
	font-size:  36px;
	font-family:  'Georgia';
	text-align:  center;
	position: absolute;
	left:  50%;
	z-index: 120;
}
#introtext.white{
	color:  #000;
}
#introtext small{
	font-size:  18px;
	line-height:  1.5;
}
.tourcontrols{
	position:fixed;
	bottom: 20px;
	left: 0px;
background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGA4DQAA0ADMRZKzDAAAAABJRU5ErkJggg==') repeat;
*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000) /* won't validate, CSS hack, a method for alpha color backgrounds, http://tinyurl.com/ly6rj2 */;
	color:#fff;
	text-shadow:0px 0px 1px #fff;
	font-size:16px;
	padding:10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	font-weight:bold;
	z-index:9999;
}
.tourcontrols a{
	font-size:10px;
	color:#f0f0f0;
	cursor:pointer;
	font-weight:normal;
	margin:0px 5px;
	float:  left;
	font-family:  arial;
}
.tourcontrols a#endtour{
	float:  right;
	}
.tourcontrols a:hover{
	color:#fff;
}
.close{
	position:absolute;
	top:6px;
	right:7px;
	width:10px;
	height:10px;
	background:#000 url(../images/close.gif) no-repeat center center;
	cursor:pointer;
}
.tourcontrols p{
	padding:10px;
}
.button{
	white-space: nowrap;
	display:block;
	float:left;
	width:  30px;
	height:  30px;
	margin:5px 0px 5px 5px;
	cursor:pointer;
	background: url(../images/controls.png) top left no-repeat;
}
#prevstep{
	background-position: -30px 0px; 
}


.nav{
	clear:both;
}